@charset "utf-8";

html,body{
   margin:0; 
   padding: 0;
   background-color: #68cdd5;
   }
   
.container{
   background-color: #68cdd5;
   width: 100%;
}

.item{
   display: flex;
   flex-direction: column;
   margin:13.5%;
   align-items: center;
}

.content{
   font-size: 1.2rem;
   margin-top:18%; 
}

.return{
   padding-top: 5%;
   margin-left: 5%;
   width: 10%;
}

.left,.right{
   display: flex;
   justify-content: center;
   width: 30%;
   position: relative;
}


.footer{
   display: flex;
   margin-top: 30%;
   width: 80%;
   justify-content: space-between;
}

.text{
   position: absolute;
   padding-top: 80px;
}



img{
   max-width: 100%;
   max-height: 100%;
}

span{
   color:white;
   line-height: 40px;
}
